/* ================================
                Reset Code
==================================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
}
html{
    scroll-behavior: smooth;
}
.wrapper{
    margin: 0 auto;
    max-width: 980px;
}
a{
    text-decoration: none;
}
.fix::before,
.fix::after{
    display: table;
    content: "";
    clear: both;
}
img{
    max-width: 100%;
}
.header-content-btn > .btn,
.buttons > .btn{
    background: transparent;
    color: white !important;
    border: 2px solid red;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    z-index: 9;
    overflow: hidden;
    cursor: pointer;
}
.header-content-btn > .btn > span,
.buttons > .btn > span{
    background-color: red;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    opacity: 1;
    z-index: -9999;
    transition: 0.5s;
}
.header-content-btn > .btn:hover > span,
.buttons > .btn:hover > span{
 width: 100%;
}
h1{
    text-align: center;
}
h1>span{
    color: red;
}
/* ================================
             Header
==================================== */
header{
    color: white;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(assets/images/bg-1.jpg);
    background-size: cover;
    background-position: center;
    border-top: 5px solid red;
}
.menu-bar{
    width: 100%;
    display: block;
}


/* Logo */
.menu-bar .logo{
    float: left;
    margin: 20px 0px 0px 20px;
}
.menu-bar .logo h1 a{
    font-size: 36px;
    color: white;
    transition: 0.5s;
}
.menu-bar .logo > h1 a:hover{
    font-size: 40px;
}

/* Menu */
.menu-bar .logo h1 a > span{
    color: red;
}
.menu-bar .menu{
    position: relative;
    float: right;
    margin: 30px 20px;
}
.menu  ul{
    display: block;
   }
.menu  ul li{
    display: block;
    float: left;
}
.menu ul li a{
    margin-left: 20px;
    font-size: 18px;
    color: white;
    position: relative;
}
.menu ul li a::after{
    content: "";
    background-color: red;
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 0.5s;
}
.menu ul li:hover a::after{
    width: 100%;
}
/* menubar icon */
#menu-bar-icon{
    display: none;
    position: absolute;
    top: -28px;
    right: 0;
    padding: 20px;
    cursor: pointer;
}
.bar1,
.bar2,
.bar3{
    width: 30px;
    background: red;
    height: 2px;
    margin-top: 8px;
    display: block
}
/* menubar icon close */
.menu-bar-close{
    padding: 20px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: -9px;
    right: 0;
}
.close1,
.close2{
    width: 30px;
    background: red;
    height: 2px;
    margin-top: -1px;
    margin-left: -1px;
    display: block;
}
.close1{
    transform: rotate(45deg);
}
.close2{
    transform: rotate(-45deg);
}

/* Header Content */
.header-content{
    text-align: center;
    margin-top: 20vh;

}
h3{
    font-size: 30px;
}
#typed{
    color: red;
}
.header-content-desc{
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

/*===================================
                main
=====================================*/
/* bio */
.bio{

}
.bio h1{
    text-align: center;
    margin: 20px 0px;
}

.bio-content{
    /* background: url(assets/images/bio-bg-2.jpeg) no-repeat; */
    background-size: cover;
    transition: 0.5s;
    position: relative;
}
.bio-content::before{
    content: "";
    width: 0%;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    z-index: 9999;
    transition: 1s;
}
.bio-content:hover::before{
    width: 100%;
}
.bio-content::after{
    content: "";
    width: 0%;
    height: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    z-index: 9999;
    transition: 1s;
}
.bio-content:hover::after{
    width: 100%;
}

.bio-content span::before{
    content: "";
    width: 5px;
    height: 0%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    transition: 1s;
}

.bio-content span::after{
    content: "";
    width: 5px;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
    transition: 1s;
}
.bio-content:hover span::before{
    height: 100%;
}
.bio-content:hover span::after{
    height: 100%;
}
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  /* Place the container to the left */
  .left {
    left: 0;
  }

  /* Place the container to the right */
  .right {
    left: 50%;
  }

  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
  }

  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }

  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: black;
    color: white;
    position: relative;
    border-radius: 6px;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }

    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }
/* Services */
main{

}
.services{

}
.services h1{
    margin: 20px 0px;
    text-align: center;
}
/* services swiper slider */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
  }

  .swiper-slide img {
    margin: 10px auto;
    display: block;
    width: 80px;
    object-fit: cover;
    border: 3px solid red;
    border-radius:50%;
  }
  .swiper-slide h4{
      font-size: 20px;
  }
  .swiper-slide p{
      width: 50%;
      margin: 10px auto;
      margin-bottom:100px !important;
  }

  .swiper-button-prev:after, .swiper-button-next:after{
      color: red;
  }
span.swiper-pagination-bullet-active{
    background-color: red !important;
}

/* Projects section start */
.projects{
    margin-top: 30px;

}
.projects h1{
    margin-bottom: 20px;
}
.project-content{
    background: url(assets/images/background.jpg) no-repeat;
    background-size: cover;
}
.buttons {
    text-align: center;
  }
  button {
    color: black !important;
    border-radius: 20px;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
  }

  div.product {
      border: 1px solid red;
      font-size: 18px;
    color: whitesmoke;
    width: 200px;
    height: 200px;
    opacity: 0.7;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  .products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  button:hover,
  .buttons > .active{
      background-color: red;
      color: white !important;
  }

  /* contact */
footer{

}
footer h1{
    margin: 20px 0px;
}
.footer-main{
    color: white;
    background: url(assets/images/footer-bg.jpeg) no-repeat;
    background-size: cover;
}
.footer-main .footer-content{

}
/* .first-last-name{
    text-align: left;
    margin: 20px 80px;
    max-width: 820px; */
/* } */
 .first-name{
    margin: 20px 80px;
}
.last-name{
    margin: 20px 80px;
}

.email{
    margin: 20px 80px;
}
.first-name input,
.last-name input,
.email input{
    margin-top: 10px;
    height: 30px;
    padding-left: 10px;
    outline: none;
    width: 100%;
}
.message{

    margin: 20px 80px;
}
.message textarea{
    outline: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}
form > button.btn{
    border: 2px solid red;
    background: transparent;
    color: white !important;
    margin-right: 80px;
    float: right;
    padding: 10px 30px;
    transition: 0.5s;
}

form > button:hover{
    background: red;
}

.footer-social-icon{
    margin: 0px 0px 20px 0px;
    text-align: center;

}
.footer-social-icon a svg{
    margin: 0px 10px;
    font-size: 30px;
    color: white;
    background-color: transparent;
}
.footer-social-icon a svg:hover{
    color: red;
    cursor: pointer;
}
/* copyright */
.copyright{
    padding: 20px 0px;
    background-color: black;
    color: white;
    text-align: center;
}
.copyright a{
    color: white;

}
.copyright a:hover{
    color: red;
}


/* bottom to up arrow */
.btm-to-up{

}
.btm-to-up a{
    text-align: center;
    background-color: red;
    color: white;
    width: 40px;
    padding: 10px 0px;
    border-radius: 25px;
    position: fixed;
    bottom: 5vh;
    right: 15vw;
    cursor: pointer;
    z-index: 99999;
    animation-name: btu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* padding: 25px; */
}
@keyframes btu {
    0%{
        bottom: 5vh ;
    }
    25%{
        bottom: 5vh;
    }
    50%{
        bottom: 4vh;
    }
    75%{
        bottom: 5vh;
    }
    100%{
        bottom: 5vh;
    }
}